:root {
  // Setando cores dos temas
  &.light {
    --bg: #f5f5f5;
    --primary: #29A19C;
    --secondary: #1c6d6b;
    --text: #36524b;
    #lightBtn {
      display: none;
    }
  }
  &.dark {
    --bg: #1f2327;
    --primary: #29A19C;
    --secondary: #56f4d2;
    --text: #d7d7d7;

    #darkBtn {
      display: none;
    }
  }
  --footer-text: #d7d7d7;

  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 30px;
  }
  a:focus, span:focus, button:focus {
    outline: none;
    opacity: 0.7;
    box-shadow: none;
  }
  .baseThemeBtn {
    background-color: transparent;
    color: var(--primary);
    border: none;
    line-height: 0;
    // cursor: pointer;

    transition: 0.2s ease;

    &:hover {
      color: var(--secondary);
    }
  }
  .viewsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 60%;
    min-height: 80svh;
    gap: 2rem;
    padding: 0.875rem;
    margin: 1.5rem auto;

    opacity: 0;
    animation: opacityUp 2s forwards, scaleUp 2s forwards;

    scale: 0;
  }
  * {
    transition: background-color 0.2s ease, transform 0.2s ease;
  }
  body {
    margin: 0;
    padding: 0;

    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


    background-color: var(--bg);
    color: var(--text);

    a {
      font-weight: bold;
      color: var(--text);
      border-bottom: 2px solid transparent;
      transition: 200ms ease;
      text-decoration: none;
      &:hover {
        opacity: 0.5;
      }
    }
  }
  @media (max-width: 1168px) {
    .viewsContainer {
      width: 90%;

    }
    :root {
      font-size: 0.875rem;
    }
  }
  @keyframes slideUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes slide {
    from {
      transform: translateX(-200%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes opacityUp {
    to {
      opacity: 1;
    }
  }
  @keyframes scaleUp {
    to {
      scale: 1;
    }
  }
}